
<div class="container">
    <br>
    <h1>Add New Profil</h1>
    <br>
    <br>
    <br>
    <form #form="ngForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" class="form-control" name="Nom" [(ngModel)]="profil.Nom" >
        </div>
        <div class="mb-3">
            <label class="form-label">Prenom</label>
            <input type="text" class="form-control" name="Prenom" [(ngModel)]="profil.Prenom" >
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="Email" [(ngModel)]="profil.Email" >
        </div>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="number" class="form-control" name="Phone" [(ngModel)]="profil.Phone" >
        </div>
        <div class="mb-3">
            <label class="form-label">Location</label>
            <input type="text" class="form-control" name="Location" [(ngModel)]="profil.Location" >
        </div>



        <div class="mb-3">
            <label class="form-label">Degree</label>
            <input type="text" class="form-control" name="Degree" [(ngModel)]="profil.Degree" >
        </div>
        <div class="mb-3">
            <label class="form-label">ImageUrl</label>
            <input type="text" class="form-control" name="ImageUrl" [(ngModel)]="profil.ImageUrl" >
        </div>
        <div class="mb-3">
            <label class="form-label">Major</label>
            <input type="text" class="form-control" name="Major" [(ngModel)]="profil.Major" >
        </div>
        <div class="mb-3">
            <label class="form-label">Age</label>
            <input type="number" class="form-control" name="Age" [(ngModel)]="profil.Age" >
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" name="Description" [(ngModel)]="profil.Description" >
        </div>


  
        <div>
            <button type="submit"class="btn btn-primary">Create</button>
        </div>
    </form>
    <br>
</div>
