.card-img-top{
    border-radius: 30px;
    padding: 20px;
} 
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body{
    padding: 25px;
    margin-top: -15px;
}

.box2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
    position: relative;
}

.card2-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card2-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #354f7057;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
}

.card2:hover .card2-body{
    right: 0;
}

.card2-body .card-title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

.card2-body .card-sub-title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
    margin: 5px;
}

.card2-body .card-info{
    font-size: 16px;
    line-height: 25px;
    margin: 10px 0;
    font-weight: 400;
}
.card2-body .card-btn{
    color: #355070;
    background: #b56576;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}