<body>
  
  <section id="three" class="sectservice">
    <div class="container overflow-hidden text-center text-light">
      <div class="row  g-3">
        <div class="col-12 ">
          <h1 class="p-3">Welcome To Our Recrutement App</h1>
        </div>



        <div class="row justify-content-evenly">
          <div class="card cbox" >
            <img src="/assets/images/img1.jpg" class="img-thumbnail m-3" alt="...">
            <div class="card-body text-light">
              <h5 class="mb-3">Login Page</h5>
              <a href="/login" class="btn btn-primary">Click Me</a>
            </div>
          </div>

          <div class="card cbox" >
            <img src="/assets/images/img2.jpg" class="img-thumbnail m-3" alt="...">
            <div class="card-body text-light">
              <h5 class="mb-3">Regisrtration Page</h5>
              <a href="/signup" class="btn btn-primary">Click Me</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  
</body> 

<script>
  function scrollToTop(){
    window.screenTop(0,0);
  }
</script>



